APP_NAME="ERP Portugal"
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:rzwW6TbWntZoq+XK6yMXGvjyUwE1NohfR37Fbci9+e0=
APP_URL=https://tu-app-en-render.onrender.com

LOG_CHANNEL=stderr
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_DATABASE=erp_portugal
DB_USERNAME=4TXNL9SUXa22zDV.root
DB_PASSWORD=tucdBmh1UA9HxB00
MYSQL_ATTR_SSL_CA=/etc/ssl/certs/ca-certificates.crt

SESSION_DRIVER=file
SESSION_LIFETIME=120
CACHE_STORE=file
QUEUE_CONNECTION=sync
